<!DOCTYPE html>
<html ng-app="Module.step3">
<head>
	<meta charset="UTF-8">
	<title>step3 angularJs使用$http与服务端集成实践</title>
	<script type="text/javascript" src="../../common/angularjs/angular-1.5.0.min.js"></script>
	<script type="text/javascript" src="../../common/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../common/bootstrap/bootstrap-3.3.5.min.js"></script>
	<script type="text/javascript" src="./step3.js"></script>
	<link href="../../skin/bootstrap/css/bootstrap-3.3.5.min.css" rel="stylesheet">
</head>
<body ng-controller="step3Ctrl">
<div class="container">
	<div class="row">
		<h1>angularJs使用$http与服务端集成实践</h1>
	</div>
	<div class="row">
		<div class="col-md-7">
			<div><button class="btn btn-primary" ng-click="step3={}">新增</button></div>
			<table class="table">
				<tr>
					<th>姓名</th>
					<th>部门</th>
					<th>手机号</th>
					<th>邮箱</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
				<tr ng-repeat="x in list">
					<td>{{x.name}}</td>
					<td>{{x.dept}}</td>
					<td>{{x.mobilePhone}}</td>
					<td>{{x.email}}</td>
					<!-- 日期过滤器 -->
					<td>{{x.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
					<td><span><a ng-click="findById(x.trainingUserId)">修改</a></span></td>
				</tr>
			</table>
		</div>
		<div class="col-md-5">
			<form class="form-horizontal" novalidate="novalidate">
				<div class="form-group">
					<label for="inputTitle" class="col-sm-2 control-label"><span class="text-danger">*</span>姓名</label>
					<div class="col-sm-8">
			      		<input type="text" class="form-control" name="name" ng-disabled="fieldDisabled" placeholder="请输入名称" ng-model="step3.name" >
			    	</div>
				</div>
				<div class="form-group">
					<label for="inputTitle" class="col-sm-2 control-label"><span class="text-danger">*</span>部门</label>
					<div class="col-sm-8">
			      		<input type="text" class="form-control" name="dept" ng-disabled="fieldDisabled" placeholder="请输入名称" ng-model="step3.dept" >
			    	</div>
				</div>
				<div class="form-group">
					<label for="inputTitle" class="col-sm-2 control-label"><span class="text-danger">*</span>手机号</label>
					<div class="col-sm-8">
			      		<input type="text" class="form-control" name="mobilePhone" ng-disabled="fieldDisabled" placeholder="请输入名称" ng-model="step3.mobilePhone" >
			    	</div>
				</div>
				<div class="form-group">
					<label for="inputTitle" class="col-sm-2 control-label"><span class="text-danger">*</span>邮箱</label>
					<div class="col-sm-8">
			      		<input type="text" class="form-control" name="email" ng-disabled="fieldDisabled" placeholder="请输入名称" ng-model="step3.email" >
			    	</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="addOrUpdate()">保存</button>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
</html>