<table class="table tree-grid table-hover"> 
       <thead>
         <tr>
           <th><a ng-if="expandingProperty.sortable" ng-click="sortBy(expandingProperty)">{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}</a><span ng-if="!expandingProperty.sortable">{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}</span><i ng-if="expandingProperty.sorted" class="{{expandingProperty.sortingIcon}} pull-right"></i></th>
           <th ng-repeat="col in colDefinitions"><a ng-if="col.sortable" ng-click="sortBy(col)">{{col.displayName || col.field}}</a><span ng-if="!col.sortable">{{col.displayName || col.field}}</span><i ng-if="col.sorted" class="{{col.sortingIcon}} pull-right"></i></th>
           <th class="text-center">操作</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat="row in tree_rows | searchFor:$parent.filterString:expandingProperty:colDefinitions track by row.branch.uid"
           ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="tree-grid-row">
           <td class="text-left"><a ng-click="user_clicks_branch(row.branch)"><i ng-class="row.tree_icon"
                  ng-click="row.branch.expanded = !row.branch.expanded"
                  class="indented tree-icon"></i>
                  <span ng-if="expandingProperty.cellTemplate" class="indented tree-label" 
                  ng-click="row.branch.expanded = !row.branch.expanded" compile="expandingProperty.cellTemplate"></span>
                  <span  ng-if="!expandingProperty.cellTemplate" class="indented tree-label" ng-click="row.branch.expanded = !row.branch.expanded">
                 {{row.branch[expandingProperty.field] || row.branch[expandingProperty]}}</span></a>
           </td>
           <td ng-repeat="col in colDefinitions">
             <div ng-if="col.cellTemplate" compile="col.cellTemplate" cell-template-scope="col.cellTemplateScope"></div>
             <div ng-if="!col.cellTemplate" >{{row.branch[col.field]}}</div>
           </td>
           <td class="text-center">
				<div class="btn-group" ng-if="row.branch['state']!='UNAUTHORIZED'">
					<a ng-click="branchOperation('changelog');">变更记录</a> 
					<a ng-click="branchOperation('showconfig');">配置</a>
				</div>
			</td>
         </tr>
       </tbody>
    </table>
                   